- interger
- float
- string
- boolen
- complex
- int to float, int to str, int to bool, int to

In [5]:
# int to float
float(number)
# int to string
str(number)
# int to bool
bool(number)
# int to complex
complex(number)

NameError: name 'number' is not defined

In [6]:
print(float(-10))
print(str(-10))
print(bool(-10))
print(bool(0))

-10.0
-10
True
False

- For zero value boolen conversion will give False
- Remaining all are True

In [7]:
complex(20),complex(20,50)

((20+0j), (20+50j))

In [9]:
import random
random.randint(10,20)

10

In [10]:
random.random()

0.08847353748916742

In [11]:
complex()

0j

In [12]:
complex(10)

(10+0j)

In [15]:
print(int(10.5))
print(str(10.5))
print(bool(10.5))
print(complex(10.5))

10
10.5
True
(10.5+0j)

In [22]:
print(int(10.9))

10

In [23]:
print(bool('python'))

True

In [25]:
print(int('10.5'))

ValueError: invalid literal for int() with base 10: '10.5'